.landing-page-wrapper {
  margin-top: 70px;
}

.jumbotron {
  min-height: 260px;
  background-color: #f7f7f9;
  padding-top: 70px;
  padding-bottom: 60px;
}

h1 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 3.2rem;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
}

h2 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.feature-cards {
  margin-top: 40px;
  margin-bottom: 40px;
}

.card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-img {
  margin-bottom: 10px;
}
