.button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover {
  outline: 0;
  border-color: #888;
}

.button.button-primary {
  color: #fff;
  background-color: #37b160;
  border-color: #37b160;
}

.button.button-primary:hover,
.button.button-primary:focus {
  background-color: #16a847;
  border-color: #16a847;
}

.button.button-nav {
  position: relative;
  display: inline-block;
  border: none;
  color: white;
  text-transform: uppercase;
}

.button.button-nav:hover,
.button.button-nav:active,
.button.button-nav:focus {
  color: #50be75;
}

.button.button-login::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: '';
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}

.button.button-logout::after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.02em;
  content: '';
  border-top: 0.35em solid transparent;
  border-left: 0.35em solid;
  border-bottom: 0.35em solid transparent;
}
