.feature-cards {
  margin: 40px auto 80px auto;
  width: 960px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.card {
  margin: 20px 10px;
  flex-basis: 32%;
}

.card-img {
  margin-bottom: 10px;
}
