.jumbotron {
  min-height: 300px;
  padding-top: 5rem;
  padding-bottom: 6rem;
  position: relative;
}

.jumbotron::after {
  content: '';
  background-image: url('../../../images/banner.jpg');
  opacity: 0.15;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

h1 {
  margin-top: 0;
  margin-bottom: 3rem;
  font-weight: 300;
  font-size: 3.6rem;
  line-height: 1.2;
  letter-spacing: 3px;
}

.jumbotron p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 3rem auto;
}

@media only screen and (min-width: 1000px) {
  .jumbotron {
    min-height: 360px;
    padding-top: 8rem;
  }
}
