.dashboard-nav {
  display: flex;
  justify-content: space-evenly;
}

.view-option {
  flex-basis: 33%;
  text-align: center;
}

.view-option.highlighted {
  background-color: lightblue;
}

.dashboard-nav a {
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #919aa1;
}

.dashboard-nav a.active {
  color: #1a1a1a;
}

.view-option:first-child {
  border-right: 1px solid darkgrey;
}

.view-option:last-child {
  border-left: 1px solid darkgrey;
}
