header {
  height: 70px;
  line-height: 70px;
  position: absolute;
  top: 0;
  background-color: #1a1a1a;
  color: white;
}

.header-container {
  padding-left: 60px;
  padding-right: 60px;
}

.header-container a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
