.trade-form {
  max-width: 350px;
  margin-top: 20px;
  display: grid;
}

.trade-form label {
  display: block;
  line-height: 1.2rem;
  margin-bottom: 5px;
  color: #919aa1;
  font-size: 1.4rem;
  text-transform: none;
}

.trade-form input {
  width: 70%;
}

@media only screen and (min-width: 600px) {
  .trade-form {
    margin-left: 20px;
    grid-template-columns: 110px 1fr;
    grid-gap: 14px;
  }

  .trade-form input,
  .trade-form button {
    grid-column: 2/3;
  }

  .trade-form label {
    padding-top: 11px;
    text-align: right;
  }
}
