.login-form {
  padding: 20px 15px 10px 15px;
}

.login-form .button {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
}

.login-form label {
  margin-bottom: -10px;
}

.login-form .form-error {
  margin-bottom: 15px;
}
