.alert {
  line-height: 21px;
  padding: 12px 20px;
  margin-bottom: 10px;
}

.trade-form .alert {
  margin-bottom: 16px;
}

.alert-success,
.alert-portrait {
  background-color: #dbf2e3;
  border-color: #cdedd8;
}

.alert-error {
  background-color: #f7dddc;
  border-color: #f7dddc;
}

.close {
  float: right;
  font-size: 1.3125rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  background-color: #dbf2e3;
  border: none;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}

.alert h4 {
  font-weight: bold;
}

.alert .mobile-help,
.alert-portrait {
  display: none;
}

@media only screen and (max-width: 500px) {
  .alert .mobile-help {
    margin-top: 1rem;
    display: block;
  }

  .alert-portrait {
    display: block;
  }
}

@media only screen and (min-width: 1000px) {
  .alert {
    margin-bottom: 32px;
  }
}
