.dashboard-wrapper {
  margin-top: 90px;
  margin-bottom: 20px;
}

.dashboard-card {
  border: 1px solid black;
}

.main-dashboard-card {
  min-height: 70vh;
}

.card-header {
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid darkgrey;
  display: flex;
  vertical-align: center;
}

.card-body {
  padding: 20px;
}

h4 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.dashboard-header {
  display: flex;
}

.dashboard-h3::after {
  content: '';
  width: 65px;
  height: 1px;
  display: block;
  background: #50be75;
}

@media only screen and (min-width: 1000px) {
  .date-widget-card {
    margin-bottom: 30px;
  }
}

/* Tables */
.monospace {
  font-family: 'Roboto Mono', monospace;
}

.rt-th,
.rt-td,
.-pagination {
  font-size: 15px;
}

.rt-td .monospace {
  font-size: 14px;
}

.table-btn {
  font-size: 15px;
  color: #16a847;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.table-btn:hover,
.table-btn:focus {
  text-decoration: underline;
}

.-pagination input,
.-pagination select {
  margin-bottom: 0.2rem;
  height: 30px;
}

.-pagination select {
  width: 90px;
}
