.dashboard-wrapper {
  margin-top: 90px;
  margin-bottom: 20px;
}

.dashboard-card {
  border: 1px solid black;
}

.main-dashboard-card {
  min-height: 70vh;
}

.card-header {
  height: 40px;
  padding-top: 10px;
  padding-left: 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid darkgrey;
}

.dashboard-nav-header {
  height: 40px;
  padding-top: 6px;
  background-color: #f7f7f7;
  border-bottom: 1px solid darkgrey;
}

.card-body {
  padding: 20px;
}

h4 {
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media only screen and (min-width: 1000px) {
  .date-widget-card {
    margin-bottom: 20px;
  }
}
