@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono');
/* @import url('https://fonts.googleapis.com/css?family=Roboto:400,500'); */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Grid */
.container,
.container-fluid {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: 960px;
}

.column,
.columns {
  width: 100%;
  float: left;
}

@media only screen and (min-width: 400px) {
  .container {
    width: 80%;
    padding: 0;
  }
}

@media only screen and (min-width: 1000px) {
  .column,
  .columns {
    margin-left: 2%; /*4 */
  }
  .column:first-child,
  .columns:first-child {
    margin-left: 0;
  }
  .two.columns {
    width: 15%;
  }
  .three.columns {
    width: 22%;
  }
  .four.columns {
    width: 30.6666666667%;
  }
  .five.columns {
    width: 38%; /* 39.3333333333 */
  }
  .six.columns {
    width: 48%;
  }
  .seven.columns {
    width: 60%; /* 56 */
  }
  .nine.columns {
    width: 74%;
  }
}

/* Clearing */
.container:after,
.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Base styles */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #1a1a1a;
}

.container,
.jumbotron {
  text-align: center;
}

/* Typography + colors */
h3 {
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
  cursor: pointer;
  text-decoration: none;
}

.monospace {
  font-family: 'Roboto Mono', monospace;
}

/* Utilities */
.u-full-width {
  width: 100%;
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

/* Where? */
label {
  display: block;
  margin-bottom: -5px;
  line-height: 1.2rem;
  color: #919aa1;
  font-size: 1.4rem;
  text-transform: capitalize;
}

/* Tables */
.rt-td .monospace {
  font-size: 15px;
}

.rt-td a {
  color: #1a1a1a;
}

.rt-td a:hover,
.rt-td a:focus {
  color: #50be75;
  text-decoration: underline;
}
